@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;700&family=Kumbh+Sans:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body.no-scroll{
    overflow: hidden;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(45,213,246, 0.6), rgba(45,213,246, 0.7)), url("../img/textura_agua.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: #0092C4;
}

::-webkit-scrollbar-thumb{
    background-color: #004AAB;
    border-radius: 10px;
}

@keyframes peixeNadando {
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(100vw);
    }
}

@keyframes peixeTropicalNadando{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(-100px);
    }
}

.cabecalho{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.navegacao ul{
    display: flex;
    justify-content: space-around;
    list-style: none;

    .texto-nav{
        text-decoration: none;
        border: none;
        outline: none;
        color: white;
        width: 170px;
        height: 70px;
        font-size: 30px;
        font-family: "K2D" , sans-serif;
        font-weight: 700
    }
}

.texto-nav{
    cursor: pointer;
    position: relative;
}

.texto-nav::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background-color: white;
    transform: scale(0,1);
    transition: transform 0.3s;
}

.texto-nav:hover::after{
    transform: scale(1,1);
}

#container-inicio{
    margin-bottom: 5%;
}

.onda{
    width: 100%;
    margin-top: 20px;
    position: absolute;
}

#introducao{
    background-color: #22A9D3;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 2% 5% 7% 5%;
}

.texto{
    color: white;
    font-size: 25px;
    font-family: "K2D" , sans-serif;
    text-align: justify;
    font-weight: 400;
    margin-top: 20px;
}

#introducao-ideias{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 2%;
    padding-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #15A1CD;
    overflow: hidden;
}

.titulo{
    font-size: 60px;
    font-family: "K2D" , sans-serif;
    color: white;
    text-align: center;
}

.conteudo-introducao{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.botao-secundario{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.botoes{
    background-color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 230px;
    height: 230px;
    transition: 0.4s ease-in-out;

    img{
        width: 230px;
    }
}

.botoes:hover{
    width: 250px;
    height: 250px;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

dialog {
    margin: 7% auto;
    width: 50%;
    height: auto;
    border: none;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-family: "K2D" , sans-serif;
    font-size: 20px;
}

dialog[open] {
    animation: fade-in 500ms forwards;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#btn-fechar-natureza , #btn-fechar-boia , #btn-fechar-proocean{
    cursor: pointer;
    padding: 1%;
    max-width: fit-content;
    width: 100%;
    font-size: 30px;
    border-radius: 10px;
    font-family: "K2D" , sans-serif;
    background-color: #004AAB;
    color: white;
    transition: 0.4s ease-in-out;
    border: none;
}

#btn-fechar-natureza:hover , #btn-fechar-boia:hover , #btn-fechar-proocean:hover{
    background-color: #0092C4;
}

.peixe{
    width: 5%;
    animation: peixeNadando 10s infinite ease-in-out;
}

.acao-solucao{
    background-color: #1C7793;
    overflow: hidden;
    padding-top: 2%;
}

.peixe-tropical{
    width: 5%;
    animation: peixeTropicalNadando 10s infinite ease-in-out;
}